@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para la paginación del carrusel de Swiper */
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.8) !important;
  opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #6ee7b7 !important;
}

.black-overlay::after{
  @apply absolute content-[''] inset-0 bg-gradient-to-t via-black/50 from-[#010409]  to-transparent z-10;
}
